.table-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

.table {
  display: flex;
  width: 100%;
  margin-top: 20px;
  background-color: white;
}

.table-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.table-item {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 30px;
  border: 1px solid black;
}

.button {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
  cursor: pointer;
} 
button:hover { background: rgb(53, 167, 110); }
button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}