.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 180px;
  width: 300px;
  background-color: #fff;
  box-shadow: 8px 10px 12px 3px rgb(0 0 0 / 43%);
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal-text {
  font-weight: bold;
  text-align: center;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}